<!DOCTYPE html>
<html lang="en" ng-app="mstGrapher">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="RobicToNieMaKomu">

        <title>Forex currency correlations</title>

        <link href="assets/css/bootstrap.css" rel="stylesheet">

        <link href="assets/css/portfolio-item.css" rel="stylesheet">

        <script type="text/javascript" src="assets/js/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
    </head>
    <body ng-controller="mstController as mst">
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://front-comparator.rhcloud.com/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#top"><span class="glyphicon glyphicon-info-sign"></span> About</a>
                        </li>
                        <li>
                            <a href="#contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
                            <!--http://pl.linkedin.com/pub/piotr-szcz%C4%99%C5%9Bniak/77/597/489!-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Currency correlations on Forex</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" ng-controller="canvasController as canvasCtrl">
                    <div id="cy" style="width: 750px; height: 500px;"> </div>
                </div>
                <div class="col-md-4">
                    <h3>What is currency correlation?</h3>
                    <p>Correlation coefficient is the measure of relationship between assets. If two currencies are correlated, they will move in the same direction in Forex.</p>
                    <hr/>
                    <h4>Time frame</h4>
                    <div class="btn-group btn-group-vertical">
                        <button data-toggle="dropdown" class="btn dropdown-toggle btn-primary"><span class="glyphicon glyphicon-collapse-down"></span> Span of time frame <span class="caret"></span></button>
                        <ul class="dropdown-menu" >
                            <li ng-repeat="time in mst.timeRanges"><a href="#">{{time}}</a></li>
                        </ul>
                    </div>
                    <hr/>
                    <h4>Minimum Spanning Tree</h4>
                    <button class="btn btn-success" ng-click="mst.generateMST()"><span class="glyphicon glyphicon-refresh"></span> Draw MST</button>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        <!-- /.container -->
        <div class="container">
            <hr/>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright RobicToNieMaKomu &copy; 2014</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->
        <!-- JavaScript -->
        <script src="assets/js/jquery-1.10.2.js"></script>
        <script src="assets/js/bootstrap.js"></script>
        <script src="assets/js/cytoscape.min.js"></script>
    </body>
</html>
