<!DOCTYPE html>
<html lang="en" ng-app="mstGrapher">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="RobicToNieMaKomu">

        <title>Forex currency correlations</title>

        <link href="assets/css/bootstrap.css" rel="stylesheet">

        <link href="assets/css/portfolio-item.css" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="assets/js/grapher.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
        <script type="text/javascript" src="assets/js/controllers/mstController.js"></script>
        <script type="text/javascript" src="assets/js/controllers/headerController.js"></script>
        <script type="text/javascript" src="assets/js/controllers/currenciesController.js"></script>
    </head>
    <body ng-controller="mstController as mst">
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container" ng-controller="headerController as headCtrl">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://front-comparator.rhcloud.com/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#about" ng-click="headCtrl.showAbout()"><span class="glyphicon glyphicon-info-sign"></span> About</a>
                        </li>
                        <li>
                            <a href="#contact" ng-click="headCtrl.showContact()"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
                            <!--http://pl.linkedin.com/pub/piotr-szcz%C4%99%C5%9Bniak/77/597/489!-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Currency correlations on Forex</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div id="cy" style="margin-top: 20px; min-width: 550px; min-height: 550px;border: 1px solid"></div>
                </div>
                <div class="col-md-4">
                    <h3>What is currency correlation?</h3>
                    <p>Correlation coefficient is the measure of relationship between assets. If two currencies are correlated, they will move in the same direction in Forex (their prices tend to change similarly).</p>
                    <hr/>
                    <h3>What does this graph represent?</h3>
                    <p>This is Minimum Spanning Tree showing correlations between selected currencies, for a given time span. It displays clusters of highly connected assets.</p>
                    <hr/>
                    <h4>Span of a time frame</h4>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn dropdown-toggle btn-primary"><span class="glyphicon glyphicon-collapse-down"></span> {{mst.span}} <span class="caret"></span></button>
                        <ul class="dropdown-menu" >
                            <li ng-repeat="span in mst.timeRanges"><a href="#" ng-click="mst.setSpan(span)">{{span}}</a></li>
                        </ul>
                    </div>
                    <h4>Currencies</h4>
                    <button class="btn btn-primary" ng-click="mst.showCurrModal()"><span class="glyphicon glyphicon-th-large"></span> Select currencies</button>
                    <hr/>
                    <h4>Minimum Spanning Tree</h4>
                    <button class="btn btn-success" ng-click="mst.generateMST()"><span class="glyphicon glyphicon-refresh"></span> Draw MST</button>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        <!-- /.container -->
        <div class="container">
            <hr/>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>RobicToNieMaKomu <span class="glyphicon glyphicon-copyright-mark"></span> 2014</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->
        <script src="assets/js/lib/bootstrap.js"></script>
        <script src="assets/js/lib/cytoscape.min.js"></script>
        <script src="assets/js/lib/bootstrap-dialog.min.js"></script>
        <script src="assets/js/info.js"></script>
    </body>
</html>
