<!DOCTYPE html>
<html lang="en" ng-app="mstGrapher">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="RobicToNieMaKomu">

        <title>Epic graph</title>

        <!-- Bootstrap core CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS for the '3 Col Portfolio' Template -->
        <link href="assets/css/portfolio-item.css" rel="stylesheet">

        <script type="text/javascript" src="assets/js/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
    </head>
    <body ng-controller="mstController as mst">
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
               <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://startbootstrap.com">Start Bootstrap</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#about">About</a>
                        </li>
                        <li><a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Portfolio Item
                        <small>Explain Your Work</small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" ng-controller="canvasController as canvasCtrl">
                    <div id="cy" style="width: 750px; height: 500px;"> </div>
                </div>
                <div class="col-md-4">
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                    <h3>Project Details</h3>
                    <div class="btn-group btn-group-vertical">
                        <button data-toggle="dropdown" class="btn dropdown-toggle btn-primary">Span of time window<span class="caret"></span></button>
                        <ul class="dropdown-menu" >
                            <li ng-repeat="time in mst.timeRanges"><a href="#">{{time}}</a></li>
                        </ul>
                    </div>
                    <h3>Project Details</h3>
                    <button class="btn btn-success" ng-click="mst.generateMST()">Create MST</button>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        <!-- /.container -->
        <div class="container">
            <hr/>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright RobicToNieMaKomu &copy; 2014</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->
        <!-- JavaScript -->
        <script src="assets/js/jquery-1.10.2.js"></script>
        <script src="assets/js/bootstrap.js"></script>
        <script src="assets/js/cytoscape.min.js"></script>
    </body>
</html>
